body {
    background-color: #101010;
    font-family: "Pavanam", sans-serif;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    width: 80%;
    margin: 0 auto;
}



// header start
.header {
    // background-color: black;
    width: 100%;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;


    .headerContent {
        .logo {
            a {
                color: #fff;
                font-weight: 700;
                font-size: 2.5rem;
                font-family: "AvantGarde Bold", Sans-serif;

            }
        }

        display: flex;
        align-items: center;
        padding: 50px 0;
        justify-content: space-between;



        .navMenu {
            ul {
                list-style: none;
                display: flex;
                gap: 60px;



                a {
                    color: #fff;
                    font-size: 18px;
                    font-weight: 700;
                }

            }

            ul {
                li:first-child {
                    border-bottom: 3px #E9204F solid;
                    width: 20px;
                }
            }

            .navLink {
                position: relative;
            }

            .navLink::before {
                content: "";
                position: absolute;
                width: 0%;
                height: 3px;
                background-color: #E9204F;
                left: 0;
                bottom: -3px;
                transition: .3s;
            }

            .navLink:hover::before {
                width: 20px;
            }
        }

    }
}

//end header


// start agency
.agency {
    background-color: black;
    background-image: url(images/hero_02.jpg);
    background-position: 70% -0%;
    background-repeat: no-repeat;
    background-size: 640px auto;
    // height: 100vh;


    .content {
        display: flex;

        .leftTheme {
            width: 70%;
            margin-top: 20rem;

            h2 {
                color: #ffffff;
                font-family: "AvantGarde Bold", Sans-serif;
                font-size: 75px;
                font-weight: 800;
            }

            .middle {
                position: relative;

                .btn1 {
                    padding: 12px 20px;
                    margin-top: 3rem;
                    min-width: 200px;
                    cursor: pointer;
                    transition: color 0.4s linear;
                    background: transparent;
                    color: #fff;
                    border: 2px solid #E9204F;
                    font-weight: 700;
                    font-size: 15px;
                    z-index: 1;
                    position: relative;

                    &:hover {
                        &::before {
                            width: 100%;
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 0%;
                        height: 100%;
                        background: #E9204F;
                        z-index: -1;
                        transition: width 0.5s;
                        transform-origin: 0 0;
                        transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
                    }

                }
            }

            .line {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    width: 80px;
                    height: 3px;
                    left: 0;
                    top: -100px;
                    background: #E9204F;
                }
            }
        }
    }

    .infos {
        color: #fff;
        display: flex;
        width: 100%;
        margin-top: 3rem;
        gap: 24px;

        .info-item {
            width: 33.333%;
            background: #272727;
            position: relative;
            z-index: 2;

            .pr-infobox {
                .bottomLine {
                    position: relative;

                    &::after {
                        content: "";
                        width: 3px;
                        height: 30px;
                        position: absolute;
                        background: #921232;
                        bottom: -110px;
                        left: 50%;
                        transform: translate(-50%);
                    }
                }

                padding: 25px;
                position: relative;
                z-index: 11;
                transition: .3s ease-in;
                background: #272727;
                padding: 80px 40px 80px 40px;

                &:hover {
                    background: #E9204F;

                    i {
                        color: #fff;
                    }
                }

            }

            i {
                color: #E9204F;
            }



            h2 {
                color: #ffffff;
                font-family: "AvantGarde Bold", Sans-serif;
                font-size: 28px;
                font-weight: 700;
                line-height: 1.4em;
                margin: 0px 0px 5px 0px;
                margin-top: 3rem;
            }

            p {
                color: #ffffff;
                font-family: "Trade Gothic", Sans-serif;
                font-size: 17px;
                line-height: 26px;
            }

            &:last-child {
                &::after {
                    content: "";
                    background-color: #921232;
                    height: 70px;
                    width: calc(100% + 20px);
                    position: absolute;
                    bottom: -20px;
                    z-index: -1;
                    left: 0;
                }
            }

            &:first-child {
                .pr-infobox {
                    background: #E9204F;

                    i {
                        color: #fff;
                    }
                }
            }
        }
    }
}

// end agency

//start services

.services {
    margin-top: 10rem;

    .topContent {
        position: relative;

        h1 {
            color: #ffffff;
            font-family: "AvantGarde Bold", Sans-serif;
            font-size: 48px;
            font-weight: 700;
            line-height: 58px;
        }

        p {
            color: #e9204f;
            font-family: "Trade Gothic", Sans-serif;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 17px;
        }

        .line {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 50px;
                height: 2px;
                left: 0;
                top: -30px;
                background: #E9204F;
            }
        }
    }

    .allItems {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 60px;
            left: 50%;
            bottom: -200px;
            background: #E9204F;
            transform: translate(-50%);
        }


        .items {


            margin-top: 4rem;
            width: calc(33.333% - 24px);

            .item {
                display: flex;
                margin-top: 2rem;
                align-items: center;
                justify-content: space-between;
                background-color: #272727;
                padding: 40px 30px 40px 30px;
                transition: .3s;

                &:hover {
                    .iconText {
                        i {
                            opacity: 1;
                            width: 70px;
                            transform: scale(1.3);
                        }
                    }

                }

                .iconText {
                    display: flex;
                    align-items: center;
                    gap: 24px;

                    i {
                        width: 0;
                        opacity: 0;
                        transform: scale(0);
                        transition: .3s ease-in-out
                    }
                }

                &:hover {
                    background: #E9204F;
                    transform: scale(1);
                    opacity: 1;
                }

                i {
                    color: #fff;
                }

                h5 {
                    color: #ffffff;
                    font-family: "AvantGarde Bold", Sans-serif;
                    font-size: 19px;
                    font-weight: 700;
                    line-height: 24px;
                }

                .bottomLine {
                    position: relative;

                    &::after {
                        content: "";
                        width: 3px;
                        height: 30px;
                        position: absolute;
                        background: #921232;
                        bottom: -110px;
                        left: 50%;
                        transform: translate(-50%);
                    }
                }

            }
        }
    }
}

//end services

//start works

.works {
    margin-top: 20rem;

    .allContent {
        .leftContent {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2 {
                color: #ffffff;
                font-family: "AvantGarde Bold", Sans-serif;
                font-size: 48px;
                font-weight: 700;
                line-height: 58px;
            }

            h4 {
                color: #e9204f;
                font-family: "Trade Gothic", Sans-serif;
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 17px;
            }

            .middle {
                position: relative;

                .btn1 {
                    padding: 12px 20px;
                    margin-top: 3rem;
                    min-width: 200px;
                    cursor: pointer;
                    transition: color 0.4s linear;
                    background: transparent;
                    color: #fff;
                    border: 2px solid #E9204F;
                    font-weight: 700;
                    font-size: 15px;
                    z-index: 1;
                    position: relative;

                    &:hover {
                        &::before {
                            width: 100%;
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 0%;
                        height: 100%;
                        background: #E9204F;
                        z-index: -1;
                        transition: width 0.5s;
                        transform-origin: 0 0;
                        transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
                    }

                }
            }
        }
    }

    .allItems {
        display: flex;
        // position: relative;

        .item {
            margin-top: 3rem;
            margin-right: 28px;
            overflow: hidden;
            position: relative;

            &:hover {
                img {
                    transform: scale(1.1);
                    filter: brightness();
                }

                .overlay {
                    visibility: visible;
                    opacity: 1;
                }
            }

            img {
                width: 487px;
                height: 500px;
                object-fit: cover;
                filter: grayscale(100%);
                transform: scale(1);
                vertical-align: middle;
                transition: .4s;
            }

            .overlay {
                // display: none;   
                color: #fff;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(22, 19, 19, 0.705);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                opacity: 0;
                visibility: hidden;
                width: 100%;
                height: 100%;
                z-index: 10;
                transition: .4s;

                h2 {
                    font-size: 35px;
                    font-weight: 800;
                }

                h5 {
                    font-size: 20px;
                    font-weight: 800;
                }
            }
        }

        .line {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 2px;
                height: 60px;
                right: 750px;
                transform: translate(50%);
                top: 700px;
                background: #E9204F;
            }
        }

    }

}

// end works


// start about
.about {
    margin-top: 20rem;

    .allAbout {
        .topAbout {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left {
                h2 {
                    color: #ffffff;
                    font-family: "AvantGarde Bold", Sans-serif;
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 58px;
                }

                h4 {
                    color: #e9204f;
                    font-family: "Trade Gothic", Sans-serif;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 17px;
                    margin-top: 2rem;
                }

                .line {
                    position: relative;

                    &::before {
                        content: "";
                        width: 40px;
                        height: 2px;
                        position: absolute;
                        left: 0;
                        top: -20px;
                        background: #E9204F;
                    }
                }
            }

            .right {
                width: 50%;
                color: #acacac;
                font-family: "Roboto Condensed", Sans-serif;
                font-size: 13px;
                font-weight: 300;
                line-height: 26px;
            }

        }



        .imageContent {
            margin: 0 auto;
            margin-top: 5rem;
            display: flex;
            gap: 24px;
            justify-content: center;
            align-items: center;

            img {
                filter: grayscale(100%);

                &:hover {
                    filter: brightness();
                }
            }

            .leftImg {
                width: 66.7%;
                position: relative;

                .textBottom {
                    color: #fff;
                    position: absolute;
                    left: 20px;
                    bottom: 20px;

                    h3 {
                        font-size: 20px;
                        font-weight: 700;
                        text-transform: capitalize;
                        line-height: 28px;
                        letter-spacing: -0.04px;
                    }
                }

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            .rightImg {
                width: 33%;
                position: relative;

                .textCnt {
                    position: absolute;
                    left: 20px;
                    bottom: 290px;
                    color: #fff;
                    z-index: 20;
                }

                .textBottom {
                    color: #fff;
                    position: absolute;
                    left: 20px;
                    bottom: 20px;
                }

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .bottomText {
            margin-top: 3rem;
            color: #fff;
            line-height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            .items {
                display: flex;
                gap: 50px;


                .item {
                    h2 {
                        color: #ffffff;
                        font-family: "AvantGarde Bold", Sans-serif;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 28px;
                        letter-spacing: -0.04px;
                    }

                    p {
                        margin-top: 2rem;
                        color: #acacac;
                        font-family: "Trade Gothic", Sans-serif;
                        font-size: 14px;
                        line-height: 26px;
                        letter-spacing: 1.4px;
                    }
                }
            }
        }

        .line {
            position: relative;

            &::before {
                content: "";
                width: 2px;
                height: 60px;
                position: absolute;
                left: 50%;
                top: 50px;
            }
        }
    }
}

// end about

//start clients
.clients {
    margin-top: 13rem;

    .allContents {
        display: flex;
        gap: 100px;
        border-bottom: 2px solid #272727;
        padding: 100px 0;

        .left {
            position: relative;

            .imgIndex {
                z-index: 4;
                position: relative;
            }

            .imgOverlay {
                &::before {
                    content: "";
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    right: -20px;
                    bottom: -15px;
                    background: #E9204F;

                }
            }
        }

        .right {
            margin-top: 3rem;

            .top_Content {
                h2 {
                    color: #ffffff;
                    font-family: "AvantGarde Bold", Sans-serif;
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 58px;
                }

                h4 {
                    color: #e9204f;
                    font-family: "Trade Gothic", Sans-serif;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 17px;
                    margin-top: 2rem;
                }

                .top_line {
                    position: relative;

                    &::after {
                        content: "";
                        width: 40px;
                        height: 2px;
                        background: #E9204F;
                        position: absolute;
                        bottom: 20px;

                    }
                }

                .newText {
                    margin-top: 2rem;

                    p {
                        color: #acacac;
                        font-family: "Trade Gothic", Sans-serif;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 36px;
                    }
                }

                .line {
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 30px;
                        height: 2px;
                        background: #ACACAC;
                        top: 50px;
                    }
                }

                .textBottom {
                    margin-top: 8rem;

                    h6 {
                        color: #ffffff;
                        font-family: "Roboto Condensed", Sans-serif;
                        font-size: 17px;
                        font-weight: 700;
                        text-transform: uppercase;
                        line-height: 26px;
                    }
                }
            }
        }
    }

    .imgBottom {
        margin-top: 3rem;
        display: flex;
        gap: 42px;
        justify-content: space-between;
        align-items: center;
    }

    .lineBtn {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            height: 60px;
            top: 80px;
            right: 50%;
            width: 1px;
            background: #E9204F;
        }
    }
}

//end clients


.latestNews {
    .allContent {
        .top {
            text-align: center;
            margin-top: 14rem;

            h2 {
                color: #ffffff;
                font-family: "AvantGarde Bold", Sans-serif;
                font-size: 40px;
                font-weight: 700;
                line-height: 58px;
            }

            h4 {
                color: #e9204f;
                font-family: "Trade Gothic", Sans-serif;
                font-size: 13px;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 17px;
                margin-top: 1rem;
            }
        }

        .allItems {
            display: flex;
            position: relative;
            justify-content: space-between;
            flex-wrap: wrap;

            .item {
                margin-top: 3rem;
                width: 32%;
                overflow: hidden;
                position: relative;

                &:hover {
                    .txtOver {
                        .iconBottom {
                            opacity: 1;
                            height: 30px;
                        }

                    }
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                        filter: brightness();
                    }
                }

                img {
                    width: 100%;
                    height: 500px;
                    object-fit: cover;
                    filter: grayscale(200%);
                    transform: scale(1);
                    vertical-align: middle;
                    transition: .4s;
                }

                .overlay {
                    position: absolute;
                    background: rgba(22, 19, 19, 0.705);
                    bottom: 0;
                    left: 0;
                    color: #fff;
                    z-index: 10;
                    width: 100%;
                    height: 100%;

                    h5 {
                        font-size: 20px;
                        font-weight: 800;
                    }

                    h6 {
                        font-size: 50px;
                        font-weight: 800;
                    }
                }

                .txtOver {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%);
                    margin-bottom: 30px;
                    display: grid;
                    z-index: 20;
                    color: #fff;
                    text-align: center;
                    width: 100%;

                    .iconBottom {
                        height: 0;
                        opacity: 0;
                        transition: .3s;
                        margin-top: 2rem;
                    }

                    h5 {
                        font-size: 10px;
                    }

                    h6 {
                        font-size: 20px;
                        margin-top: 1rem;
                    }
                }
            }

            .line {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    width: 2px;
                    height: 60px;
                    right: 750px;
                    transform: translate(50%);
                    top: 700px;
                    background: #E9204F;
                }
            }
        }
    }
}


.footer {
    margin-top: 11.5rem;
    background: #1c1c1c84;

    .centerFooter {
        color: #fff;
        text-align: center;
        display: flex;
        justify-content: center;
        gap: 200px;
        padding: 40px 30px;
        background: #201f1f;

        .contact {
            transition: .4s;

            cursor: pointer;

            &:hover {
                color: #E9204F;
            }

        }
    }

    .all_content {


        .topFooter {

            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 6rem;
            padding: 140px 30px;


            .social {
                display: flex;
                gap: 10px;
                align-items: center;



                i {
                    background: #10101092;
                    color: #fff;
                    border-radius: 100%;
                    border: 3px solid #E9204F;
                    padding: 15px;
                    transition: .3s;

                    &:hover {
                        transform: translateY(-10px);
                        color: #E9204F;
                    }
                }
            }

            .heading {
                h2 {
                    color: #ffffff;
                    font-family: "AvantGarde Bold", Sans-serif;
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 58px;
                    letter-spacing: -0.04px;
                }
            }

            .middle {
                position: relative;

                .btn1 {
                    padding: 12px 20px;
                    min-width: 200px;
                    cursor: pointer;
                    transition: color 0.4s linear;
                    background: transparent;
                    color: #fff;
                    border: 2px solid #E9204F;
                    font-weight: 700;
                    font-size: 15px;
                    z-index: 1;
                    position: relative;

                    &:hover {
                        &::before {
                            width: 100%;
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 0%;
                        height: 100%;
                        background: #E9204F;
                        z-index: -1;
                        transition: width 0.5s;
                        transform-origin: 0 0;
                        transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
                    }
                }
            }
        }
    }

    .btnBottom {
        display: flex;
        align-items: center;
        padding: 24px 30px;
        justify-content: center;

        ul {
            list-style: none;
            display: flex;
            gap: 24px;
            margin-left: 20rem;

            li {
                a {
                    transition: .3s;
                    position: relative;

                    &::before {
                        content: "";
                        width: 0;
                        height: 1px;
                        background: #e9204f;
                        left: 0;
                        bottom: -5px;
                        position: absolute;
                        opacity: 0;
                        transition: .4s;

                    }

                    &:hover::before {
                        opacity: 1;
                        width: 50px;

                    }

                    &:hover {
                        color: #e9204f;
                    }
                }
            }
        }

        a {
            color: #fff;
            font-size: 13px;
        }

        p {
            color: #ACACAC;
            font-size: 12px;
        }
    }
}